@model Presentation.Models.Curr

@{
    ViewData["Title"] = "Calc";
}

<h1>Calculate</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Calc">

            <div class="form-group">
                <label class="control-label">Currency To</label>
                <input asp-for="Currency" name="to" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Currency From</label>
                <input asp-for="Currency" name="from" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Amount</label>
                <input name="amount" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
            <label>Converted Price:</label> @ViewBag.newCurr
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
