@model Common.Audits

@{
    ViewData["Title"] = "getByDateAudits";
}


<h4>Audits by Date</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="getByDateAudits">

            <div class="form-group">
                <label class="control-label">Date From ( Fromat 11/22/2022 )</label>
                <input type="text" name="dateFrom" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Date To ( Fromat 12/22/2022 )</label>
                <input type="text" name="dateTo" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Get Audits" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
