<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        <a href="/Transfer/deposit">Deposit</a>
        <a href="/Transfer/transferToOwnAccount">transferToOwnAccount</a>
        <a href="/Transfer/transferToOtherAccount">transferToOtherAccount</a>
    </div>
</body>

</html>