@model Common.Fund
<!DOCTYPE html>
<html lang="en">
    <body>
        <div>
            <a href="/Fund/createFund" class="btn btn-primary">Create Fund</a>
            <a href="/Fund/getFunds" class="btn btn-primary">Get Funds</a>
        </div>
    </body>
    
</html>