@model Common.Fund
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="row">
        <div class="col-md-4">
            <a href="/Fund/createFund" class="btn btn-primary">Create Fund</a>
            <a href="/Fund/getFunds" class="btn btn-primary">Get Funds</a>
        </div>
    </div>
    <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Search">

                    <div class="form-group">
                        <label class="control-label">Fund Account No</label>
                        <input type="number" name="Search" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
</body>
    
</html>